.box_1 {
  background-color: red;
  color: white;
  padding: 0.2rem;
}

.box_2 {
    background-color: #FFD700;
    color: black;
    padding: 2.6rem;
  }

  .box_3 {
    background-color: orange;
    color: black;
    padding: 2rem;
  }

  .box_4 {
    background-color: #73be73;
    color: black;
    padding: 2rem;
  }