.box_1 {
  background-color: red;
  color: white;
  padding: 1rem;
}

.box_2 {
    background-color: yellow;
    color: black;
    padding: 2rem;
  }

  .box_3 {
    background-color: orange;
    color: black;
    padding: 2rem;
  }

  .box_4 {
    background-color: lightgreen;
    color: black;
    padding: 2rem;
  }