* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex-container {
    display: flex;
    background: #b8b8b8;
}

.item1 {
  width: 100px;
  height: 100px;
  background: #254DE4;
  margin: 10px;
  color: #fff;
  float: left;
}

.item2 {
    width: 100px;
    height: 100px;
    background: #000000;
    margin: 10px;
    color: #fff;
    float: left;
  }

  .item3 {
    width: 100px;
    height: 100px;
    background: #ff0000;
    margin: 10px;
    color: #fff;
    float: left;
  }

  .item4 {
    width: 100px;
    height: 100px;
    background: #466D1D;
    margin: 10px;
    color: #fff;
    float: left;
  }